<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create/Update Category - Getherbooks</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @supports not (
        (-webkit-backdrop-filter: none) or (backdrop-filter: none)
      ) {
        .backdrop-blur-lg {
          background-color: rgba(255, 255, 255, 0.75);
        }
      }
    </style>
  </head>
  <body
    class="min-h-screen bg-[url('/img/background.svg')] bg-no-repeat bg-center bg-cover font-sans flex flex-col"
  >
    <div class="flex h-screen w-full gap-6 p-6">
      <aside
        class="bg-white/30 backdrop-blur-lg w-full md:w-64 rounded-3xl flex-col items-center p-4 shadow-2xl hidden md:flex"
      >
        <div class="mt-5 mb-16">
          <img src="/img/getherbooks.png" alt="Logo" class="h-12" />
        </div>
        <nav class="flex flex-col w-full space-y-2 flex-1">
          <a
            href="dashboard"
            class="font-semibold text-sm p-3 rounded-xl flex items-center gap-3 text-gray-700 hover:bg-white/50 hover:shadow-md transition-all duration-200"
          >
            <i class="bi bi-grid-1x2-fill text-xl"></i>
            <span>Dashboard</span>
          </a>
          <a
            href="user"
            class="font-semibold text-sm p-3 rounded-xl flex items-center gap-3 text-gray-700 hover:bg-white/50 hover:shadow-md transition-all duration-200"
          >
            <i class="bi bi-people-fill text-xl"></i>
            <span>User</span>
          </a>
          <a
            href="#"
            class="font-semibold text-sm p-3 rounded-xl flex items-center gap-3 bg-blue-500 text-white shadow-lg transition-transform duration-200"
          >
            <i class="bi bi-tags-fill text-xl"></i>
            <span>Category</span>
          </a>
          <a
            href="books"
            class="font-semibold text-sm p-3 rounded-xl flex items-center gap-3 text-gray-700 hover:bg-white/50 hover:shadow-md transition-all duration-200"
          >
            <i class="bi bi-book-half text-xl"></i>
            <span>Books</span>
          </a>
          <a
            href="bookings"
            class="font-semibold text-sm p-3 rounded-xl flex items-center gap-3 text-gray-700 hover:bg-white/50 hover:shadow-md transition-all duration-200"
          >
            <i class="bi bi-journal-check text-xl"></i>
            <span>Bookings</span>
          </a>
          <a
            href="settings"
            class="font-semibold text-sm p-3 rounded-xl flex items-center gap-3 text-gray-700 hover:bg-white/50 hover:shadow-md transition-all duration-200"
          >
            <i class="bi bi-gear-fill text-xl"></i>
            <span>Settings</span>
          </a>
        </nav>
        <form action="/logout" method="POST" class="w-full mt-6">
            <button type="submit" 
                class="w-full font-semibold text-sm text-center p-3 rounded-xl bg-red-500 text-white hover:bg-red-600 hover:shadow-lg transition-all duration-200 flex items-center justify-center gap-3">
                <i class="bi bi-box-arrow-right text-xl"></i><span>Logout</span>
            </button>
        </form>

      </aside>

      <main class="flex-1 flex flex-col gap-6">
        <header
          class="bg-white/30 backdrop-blur-lg rounded-3xl h-24 flex items-center px-8 shadow-2xl"
        >
          <p class="text-3xl font-bold text-gray-800">
            Update Category
          </p>
        </header>

        <section
          class="flex-1 bg-white/30 backdrop-blur-lg rounded-3xl p-6 flex items-center justify-center shadow-2xl"
        >
          <div class="w-full max-w-md bg-white rounded-2xl shadow-xl p-8">
            <form action="/categories/update/{{ .Categories.ID}}" method="POST" class="flex flex-col gap-6">

              <div class="relative">
                <i
                  class="bi bi-tag absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"
                ></i>

                <input type="hidden" name="page" value="{{.Page}}">
                <input type="hidden" name="search" value="{{.Search}}">

                <input
                  type="text"
                  name="name"
                  placeholder="Nama Kategori ..."
                  value="{{ .Categories.Name}}"
                  class="pl-10 pr-4 py-3 rounded-xl w-full border border-gray-300 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition-all duration-300"
                  autofocus
                  required
                />
              </div>

              {{ if .error }}
                  <div class="mb-6 flex items-center gap-3 rounded-xl bg-red-100 text-red-700 px-4 py-3">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <span class="text-sm font-medium">{{ .error }}</span>
                  </div>
              {{ end }}

              <div class="flex items-center justify-evenly gap-4 pt-4">
                <a
                  href="/categories?page={{.Page}}&search={{.Search}}"
                  class="bg-gray-200 text-gray-800 py-2 px-6 rounded-xl font-semibold transition hover:bg-gray-300"
                >
                  Cancel
                </a>

                <button
                  type="submit"
                  class="bg-blue-500 text-white py-2 px-6 rounded-xl font-semibold transition hover:bg-blue-600 hover:shadow-lg"
                >
                  Save
                </button>

              </div>
            </form>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
